<main class="container">
    <form action="/cadastrar" method="post" id="divForm">
        <div id="img" class="mb-3">
            <img src="/img/icon.png" alt="user">
        </div>
        <input class="form-control mt-2" type="text" name="nome" placeholder="Digite seu nome"
            aria-label="default input example">

        <input class="form-control mt-2" type="number" name="idade" placeholder="Digite sua idade"
            aria-label="default input example">

        <button type="submit" value="cadastro" class="btn btn-primary w-25 mt-5">Enviar</button>
    </form>

    <div class="w-100 mt-5">
        <table class="table  table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th id="visualizar">visualizar</th>
                </tr>
            </thead>
            <tbody>
                {{#each vet}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{nome}}</td>
                    <td>{{idade}}</td>
                    <td><a href="selecionar/{{id}}" rel="noopener noreferrer" class="btn btn-success">Selecionar</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</main>