* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;

}

main {
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#divForm {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: auto;
}

#divForm input {
    width: 50%;
    margin-bottom: 10px;
}

#img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img img {
    width: 200px;
    height: 200px;
}



thead,
tbody {
    text-align: center;
}