<h1>INICIO</h1>
<table>
    <tr>
        <th>id</th>
        <th>nome</th>
        <th>valor</th>
    </tr>
    {{#each vet}}
    <tr>
        <td>{{id}}</td>
        <td>{{nome}}</td>
        <td>{{valor}}</td>
    </tr>
    {{/each}}
</table>